<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All books</title>
</head>
<body>

<table border="3">
    <tr>
        <td width="150">Book</td>
        <td width="60">pages</td>
        <td width="60">price</td>
        <td width="100">rating</td>
        <td width="80">publisher</td>
        <td width="100">authors</td>
    </tr>
</table>
{% for i in all_book %}
        <table border="2">
           <tr>
                <td width="150"><a href="/books/book/{{ i.id }}"> {{ i.name }}</a> </td>
                <td width="60">{{ i.pages }}</td>
                <td width="60">{{ i.price }}</td>
                <td width="100">{{ i.rating }}</td>
                <td width="80">{{ i.publisher.name }}</td>
                <td width="100">{{  i.authors.all|join:", " }}</td>
           </tr>
        </table>
{% endfor %}

<p>{{ max_price }}</p>
<p>{{ avg_rat }}</p>
<!--    <p><a href="/books/book/{{ i.id }}"> {{ i.name }}</a> number of pages: {{ i.pages }} rating: {{ i.rating }} : {{ i.publisher.name }}  || {{  i.authors.all|join:", " }}</p>-->
<!--     <p> </p>-->
<!--     <p></p>-->


{% block pagination %}
        {% if is_paginated %}
          <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
              <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
              {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </span>
          </div>
        {% endif %}
      {% endblock %}

</body>
</html>