<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All author</title>
</head>
<body>
<table border="3">
        <tr>
        <td width="120">Name</td>
        <td width="40">Age</td>
        </tr>
</table>
{% for i in all_authors %}
    <table border="2">
        <tr>
        <td width="120"><a href="/books/author/{{ i.id }}"> {{ i.name }}</a> </td>
        <td width="40">{{ i.age}}</td>
        </tr>
    </table>
{% endfor %}

{% block pagination %}
        {% if is_paginated %}
          <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
              <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
              {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </span>
          </div>
        {% endif %}
      {% endblock %}

</body>
</html>